boto==2.32.1
Django==1.7
django-cleanup==0.1.10
django-debug-toolbar==1.2.2
django-filter==0.7
django-ipware==0.0.8
django-secure==1.0
django-ses==0.6.0
django-storages==1.1.8
django-tastypie==0.12.2
Markdown==2.4.1
mutagen==1.31
MySQL-python==1.2.5
Pillow==2.5.3
python-dateutil==2.2
python-mimeparse==0.1.4
pytz==2014.7
six==1.7.3
sqlparse==0.1.14
wheel==0.24.0
