Django==1.7
MySQL-python==1.2.5
awscli==1.4.2
bcdoc==0.12.2
botocore==0.62.0
colorama==0.3.2
docutils==0.12
flake8==2.2.3
jmespath==0.4.1
mccabe==0.2.1
pep8==1.5.7
pyasn1==0.1.7
pyflakes==0.8.1
python-dateutil==2.2
rsa==3.1.4
six==1.7.3
virtualenv==1.11.6
wsgiref==0.1.2
