container_commands:
  01_syncdb:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_createadmin:
    command: "reformedacademy/scripts/createadmin.py"
    leader_only: true
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  04_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  05_apache_conf:
    command: "cp .apache/* /etc/httpd/conf.d"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: reformedacademy/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: reformedacademy.settings
