container_commands:
  01_syncdb:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_createadmin:
    command: "reformedacademy/scripts/createadmin.py"
    leader_only: true
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  04_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  05_apache_conf:
    command: "cp .apache/* /etc/httpd/conf.d"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: reformedacademy/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: reformedacademy.settings
