{% extends 'reformedacademy/base.html' %}
{% load staticfiles %}
{% load courseutils %}

{% block content %}
    <div class="top-container">
        <div class="inner">
            <h1>Reformed Academy</h1>
            <div class="description">
                Welcome to Reformed Forum's new endeavor, Reformed Academy: A website for theological learning. We are collecting and organizing our theological resources into course modules or structured collections of media that will better assist people in growing in their knowledge of the bible and its teachings.
            </div>
            {% if not user.is_authenticated %}
            <div class="signup">
                <a href="{% url 'signup' %}">Sign Up</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="outline">
        <div class="h1-container">
            <h1>Overview</h1>
        </div>
        <div class="inner">
            <div class="instructors">
                <h2>Instructors You Can Trust</h2>
                <p>All Reformed Academy courses are taught by reformed instructors you can trust.</p>
                {% for instructor in instructors %}
                <div class="instructor">
                    <img src="{{ MEDIA_URL }}{{ instructor.profile_image }}" class="profile-image" alt="{{ instructor }} profile image">
                    <a href="{% url 'instructor' instructor.pk %}">{{ instructor }}</a>
                </div>
                {% endfor %}
            </div>
            <div class="track-progress">
                <h2>Track Your Progress</h2>
                Enroll in courses and complete course lessons. Your progress is tracked automatically and shown on the progress page.
            </div>
            <div class="free nocaps">
                <h2>A Free and Open Learning Experience</h2>
                Reformed Academy is a free and <a href="http://github.com/reformedforum/reformedacademy">open website</a>. We don't charge for this service, but we do ask for your support by <a href="http://reformedforum.org/donate">donating</a>. Reformed Academy is a project of Reformed Forum, a 501(c)(3) organization.
            </div>
            {% if beta_enabled %}
            <div class="feedback nocaps">
                <h2>Give Us Feedback</h2>
                Reformed Academy is in beta right now, and we would appreciate any feedback you have to give to us. Whether you are encountering some problems with the site, or if you have some great ideas for Reformed Academy, we would love to <a href="mailto:support@reformed.academy?subject=Feedback">hear from you</a>.
                <p style="margin-top: 1em;">Please keep in mind the website is still unfinished, so it may not behave as expected or there may be placeholders in different areas of the site.</p>
            </div>
            {% endif %}
        </div>
        <div class="h1-container">
            <h1>Available Courses</h1>
        </div>
        {% for course in courses %}
        {% progress course as progress %}
        <a href="{% url 'course' course.slug %}">
            <div class="section home">
                <div class="inner">
                    {% if progress.completed %}
                    <i class="fa fa-check-circle-o"></i>
                    {% else %}
                    <i class="fa fa-circle-o"></i>
                    {% endif %}
                    <h1>{{ course.name }}</h1>
                    <h2>{{ course.category }}</h2>
                    <div class="instructors">
                        {% for instructor in course.instructors.all %}
                        <div class="instructor">
                            <img src="{{ MEDIA_URL }}{{ instructor.profile_image }}" class="profile-image" alt="{{ instructor }} profile image">
                            {{ instructor }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="description">
                        {{ course.description }}
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}
