{% extends 'reformedacademy/base.html' %}
{% load staticfiles %}
{% load courseutils %}

{% block content %}
    <div class="top-container">
        <div class="inner">
            <h1>Reformed Academy</h1>
            <div class="description">
                What is Reformed Academy? How does it work? How much does it cost? All of that information will go here.
            </div>
            <div class="instructors">
                <h2>Instructors</h2>
                {% for instructor in instructors %}
                <div class="instructor">
                    <img src="{{ MEDIA_URL }}{{ instructor.profile_image }}" class="profile-image" alt="{{ instructor }} profile image">
                    {{ instructor }}
                </div>
                {% endfor %}
            </div>
            {% if not request.user.is_authenticated %}
            <div class="signup">
                <a href="{% url 'signup' %}">Sign Up</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="outline">
        <div class="h1-container">
            <h1>Available Courses</h1>
        </div>
        {% for course in courses %}
        {% progress course as progress %}
        <a href="{% url 'course' course.slug %}">
            <div class="section home">
                <div class="inner">
                    {% if progress.completed %}
                    <i class="fa fa-check-circle-o"></i>
                    {% else %}
                    <i class="fa fa-circle-o"></i>
                    {% endif %}
                    <h1>{{ course.name }}</h1>
                    <h2>{{ course.category }}</h2>
                    <div class="description">
                        {{ course.description }}
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}
