{% extends 'reformedacademy/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="top-container">
        <div class="inner">
            <div class="back">
                <i class="fa fa-angle-left"></i>
                <a href="{% url 'course' lesson.course.slug %}">{{ lesson.course }}</a>
            </div>
            <h1>{{ lesson.name }}</h1>
            <div class="description">
                {{ lesson.description }}
            </div>
            <div class="instructors">
            {% for instructor in lesson.course.instructor_set.all %}
            <div class="instructor">
                <img src="{{ MEDIA_URL }}{{ instructor.profile_image }}"
                     class="profile-image"
                     alt="{{ instructor }} profile image">
                {{ instructor }}
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="outline lesson">
        <div class="h1-container">
            <h1>Outline</h1>
        </div>
        {% for task in lesson.task_set.all %}
        <div class="section">
            <div class="inner">
                <i class="fa fa-circle-o"></i>
                <h1>{{ task.name }}</h1>
                <p>
                    {{ task.description }}
                </p>
                {% if task.asset and 'audio' in task.asset.mime_type %}
                    <audio controls="controls">
                    <source src="{{ task.asset.download_url }}" type="{{ task.asset.mime_type }}" />
                        Your browser does not support the audio element.
                    </audio>
                {% endif %}
                {% if task.book %}
                    <div class="book">
                        <img src="{{ MEDIA_URL }}{{ task.book.cover_image }}" alt="{{ task.book }} Book Image">
                        <h2>{{ task.book.title }}</h2>
                        <div class="sources">
                            {% for book_url in task.book.bookurl_set.all %}
                                <a href="{{ book_url.url }}">{{ book_url.website }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
