{% extends 'reformedacademy/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="top-container centered">
        <div class="inner">
            <h1>Change Password</h1>
        </div>
    </div>
    <div class="main-container centered">
        <div class="inner">
            <form action="" method="POST" class="change-password-form">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Change Password">
            </form>
        </div>
    </div>
{% endblock %}
