{% extends 'reformedacademy/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="top-container centered">
        <div class="inner">
            <h1>Tag MP3</h1>
        </div>
    </div>
    <div class="main-container centered">
        <div class="inner">
            <form enctype="multipart/form-data" action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Upload">
            </form>
        </div>
    </div>
{% endblock %}