@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

html, body {
    /* height:100%; */
    font-family: 'Questrial', sans-serif;
    letter-spacing: .5px;
}

html *, body * {
    /* outline: 1px dotted magenta; */
}

a {
    color: #34aadc;
}

a:hover {
    color: #34aadc;
}

a:visited {
    color: #34aadc;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.menu {
    position: absolute;
    height: 45px;
    width: 100%;
}

.menu.open {
    left: 0;
}

.menu ul {
    list-style: none;
    display: inline-block;
    padding-left: 2em;
}

.menu li {
    font-size: 1em;
    margin: 1em 0 1em 0;
    padding-right: 0.5em;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.menu li a {
    cursor: pointer;
    color: #fff;
    display: block;
}

.menu li a:hover {
    color: #D1EEFC;
    text-decoration: none;
}

.menu img {
    width: 26px;
    margin-right: 0.7em;
    position: relative;
    bottom: 2px;
}

.menu .profile {
    float: right;
    padding-top: 0.4em;
    padding-right: 1em;
}

.menu li+li {
    border-left: 1px solid #D1EEFC;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(209, 238, 252, 0.50);
    padding-left: 0.7em;
}

.header  {
    background-color: #34aadc;
    height: 4em;
    font-size: 1.2em;
    padding-top: 0.8em;
}

.header .logo {
    @include vertical-align;
    letter-spacing: 0px;
}

.header .profile {
    text-align: right;
    @include vertical-align;
    color: gray;
    font-size: 0.9em;
    padding-top: 0em;
}

.header .logo img {
    height: 3em;
    /* display: inline-block; */
    margin-left: 1em;
}
.header .search {
    display: inline-block;
    width: 33%;
    text-align: center;
}

.header .profile {
    float: right;
}

.header .logo {
    float: left;
    display: none;
}

.header .search input[type=text] {
    background-color: #34aadc;
    border: 1px solid #fff;
}

.header .fa {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.header .logo i {
    color: #fff;
    margin-right: 0em;
    margin-left: 0.3em;
}

.header .logo span.first {
    color: #ff9500;
}

.profile-image {
    height: 3em;
    width: 3em;
    margin-top: 4px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-right: 0.5em;
}

.content .right {
    height: 100%;
    padding: 4.6em 0;
}

.top-container {
    background-color: #34aadc;
    color: #fff;
    padding: 1.5em 0 2.5em 0;
}

.top-container .inner, .signup-container .inner, .outline .inner {
    margin: 0 auto;
    max-width: 650px;
    font-size: 1.1em;
}

.outline .inner {
    margin-bottom: 5em;
}

.top-container .inner h1 {
    font-size: 3.7em;
    margin-top: 0;
    margin-bottom: .5em;
}

.top-container .inner .back {
    text-transform: uppercase;
    margin-bottom: 1.5em;
    display: table;
}

.top-container .inner .back a {
    color: #fff;
    margin-left: 0.2em;
}

.top-container .inner .back .fa {
    display: table-cell;
    width: 0.8em;
}

.top-container .inner .description {

}

.top-container .inner .nocaps a {
    text-transform: none;
    text-decoration: underline;
}

.top-container a {
    color: #fff;
    text-transform: uppercase;
}

.top-container.nocaps a {
    text-transform: none;
}

.top-container.courses {
    padding-bottom: 1em;
}

.beta-form {
    margin-top: 4em;
}

.beta-login-form {
    margin-top: 2em;
}

.beta-login-form:before {
    content: 'or';
    text-align: center;
    display: inherit;
    margin-bottom: 1em;
    font-size: 1.3em;
    color: #ccc;
}

.outline .instructors {
    margin-top: 1em;
}

.instructors, .track-progress, .free, .feedback {
    margin-top: 2.5em;
}

.instructors h2 {
    /* margin-bottom: 0.6em; */
}

.instructor {
    display: inline-block;
    margin-right: 3em;
}

.instructor .profile-image {
    width: 2em;
    height: 2em;
    position: relative;
    bottom: 3px;
}

.outline {
    margin-top: 2.5em;
}

.outline .h1-container {
    margin: 0 0 1.5em 0;
}

.outline .h1-container h1, .outline .h1-container ul {
    text-transform: uppercase;
    color: #888;
    font-size: 1em;
    margin: 0 auto;
    max-width: 650px;
}

.outline .h1-container img.feed {
    height: 15px;
    width: 15px;
    margin-left: 10px;
    position: relative;
    bottom: 1px;
}

.outline .h1-container i {
    margin-left: 2em;
    margin-right: 2em;
}

.outline .h1-container .fa-circle {
    font-size: .3em;
    position: relative;
    bottom: 3px;
}

.outline .h1-container ul {
    padding: 0;
}

.outline .h1-container ul li {
    display: inline;
}

.outline .h1-container ul li.selected {
    font-weight: 700;
    letter-spacing: 0px;
    font-size: 1.4em;
}

.section {
    border-top: 1px solid rgba(52, 170, 220, 0.13);
    /* border-bottom: 1px solid rgba(52, 170, 220, 0.13); */
    cursor: pointer;
}

.section:hover {
    background-color: rgba(52, 170, 220, 0.13);
}

.section a {
    display: block;
}

.section p {
    margin-top: 1em;
}

.outline.lesson .section {
    cursor: auto;
}

.outline.lesson .section:hover {
    background-color: #fff;
}

.outline.lesson audio {
    width: 100%;
}

.outline.lesson .download {
    width: 100%;
    margin-top: .3em;
}

.section .inner {
    padding: 2em 0 2em 0;
    font-size: 1.1em;
    color: #1f1f21;
    margin: 0 auto;
    max-width: 650px;
    display: table;
    width: 100%;
}

.section .inner .description {
    margin-top: 1em;
}

.section .fa {
    padding-right: 0.5em;
    font-size: 1.4em;
    display: table-cell;
    color: #34aadc;
    position: relative;
    top: 0.1em;
    width: 1.5em;
}

.section .inner h1 {
    font-size: 1.1em;
    text-transform: uppercase;
    margin: 0;
}

.section.home .inner h1 {
    font-size: 1.6em;

    text-transform: none;
}

.section.home .inner h2 {
    font-size: 1em;
    text-transform: uppercase;
    margin: 0;
    color: #999;
    margin-top: 0.2em;
}

.section.home .inner h3 {
    font-size: 1em;
}

.section-description .description {
    padding-left: .3em;
}

.section .inner audio {
    margin-top: 1em;
}

.top-container.centered {
    padding-bottom: 3em;
    text-align: center;
}

.main-container .inner label {
    display: block;
    text-align: left;
    text-transform: uppercase;
    margin-top: 2em;
}

.top-container.centered .inner img {
    width: 111px;
    margin-bottom: 2em;
}

.top-container.centered .inner {
    max-width: 300px;
}

.top-container.centered a {
    color: #fff;
    text-decoration: underline;
}

.top-container.centered .inner .description {
    max-width: 300px;
    margin: 0 auto;
}

.top-container.centered.wide .inner {
    max-width: 500px;
}

.top-container.centered.wide .inner .description {
    max-width: 500px;
}

.top-container.centered .signup a {
    text-decoration: none;
}

.main-container input[type=text],
.main-container input[type=password],
.main-container input[type=email],
.main-container input[type=button],
.main-container input[type=submit] {
    margin-top: 0.3em;
    font-size: 1.7em;
    background-color: #fff;
    border: 1px solid #34aadc;
    width: 100%;
    padding: 0.3em;
    color: #34aadc;
    border-radius: 6px;
}


/* Style placeholder text. */
::-webkit-input-placeholder {
    color: #ccc;
}

:-moz-placeholder {
    color: #ccc;
}

::-moz-placeholder {
    color: #ccc;
}

:-ms-input-placeholder {
    color: #eee;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

.main-container.centered .terms-and-conditions {
    text-align: left;
    margin-top: 2em;
    font-size: 0.9em;
}

.main-container.centered .previous-account, .main-container.centered .social {
    margin-top: 3em;
    font-size: 0.9em;
    text-align: center;
}

.main-container.centered .social {
    font-size: 3em;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.main-container.centered .previous-account a {
    display: block;
    font-size: 1.3em;
}

.previous-account {
    margin-bottom: 4em;
}

.profile-container .inner input[type=submit] {
    margin-top: 2em;
}

.description div:first-of-type {
    margin-bottom: 1em;
}

ul.errorlist {
    border: 1px solid red;
    border-left: 5px solid red;
    padding: 1em;
    margin-top: 1em;
}

ul.errorlist li {
    list-style: none;
}

.login-form input[type="submit"] {
    margin-top: 1em;
}

.book img {
    float: left;
    width: 6em;
    margin-right: 1em;
}

.book h2 {
    font-size: 1.5em;
    margin-bottom: 0.2em;
}

.book h3 {
    font-size: 1em;
    color: gray;
    margin-top: 0;
}

.sources {
    padding-top: 1em;
}

.sources:before {
    content: "SOLD BY";
    color: #888;
    position:relative;
    bottom: .3em;
    font-size: .9em
}

.enrollment, .signup {
    text-align: center;
    margin-top: 3em;
}

.enrollment.enrolled {
    text-align: left;
    margin-top: 2.5em;
}

.enrollment.enrolled i {
    margin-right: 0.5em;
}

.task-completion {
    text-align: center;
    clear: both;
}

.enrollment a, .task-completion a, .signup a {
    border: 1px solid #fff;
    padding: 1em;
    border-radius: 2em;
    font-size: 1.3em;
    text-transform: none;
    letter-spacing: 0.07em;
}

.enrollment a.drop {
    border: none;
    padding: 0;
    border-radius: 0;
    font-size: 1em;
    text-decoration: underline;
    margin-left: 20px;
    position: relative;
}

.enrollment a.drop:before {
    content: '-';
    text-decoration: none;
    margin: 0 7px 0 7px;
    position: absolute;
    right: 100%;
    width: 8px;
}

.enrollment a.drop:hover {
    background: none;
    color: #fff;
    text-decoration: none;
}

.task-completion a {
    border: 1px solid #34aadc;
    margin: 0 auto;
    width: 150px;
    margin-top: 2em;
}

.enrollment a:hover, .task-completion a:hover, .signup a:hover {
    background-color: #fff;
    color: #34aadc;
    text-decoration: none;
}

.task-completion a:hover {
    background-color: #34aadc;
    color: #fff;
}

.section .enrollment.enrolled i {
    color: #000;
    display: inline;
    margin-right: 0;
}
.section .enrollment.enrolled {
    margin-top: 1em;
}

.progress-bar {
    background-color: #34aadc;
    text-transform: uppercase;
    font-size: 11px;
}

.progress {
    box-shadow: none;
    margin-top: 1.5em;
    margin-bottom: 0;
}

.content {
    margin: 6em;
}

.top-container .progress h1 {
    font-size: 0em;
}

.top-container .progress {
    background-color: rgba(255, 255, 255, 0.25);
}

.top-container .progress .progress-bar {
    background-color: #fff;
    color: #34AADC;
}

.footer {
    margin-top: 4em;
    background-color: #8E8E93;
    height: 15em;
    color: #fff;
    padding: 2em;
    text-align: right;
}

.footer:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
}

.footer .content {
    vertical-align: bottom;
    display: inline-block;
    margin: 0;
}

@media(max-width:800px) {
    .header {
        height: 3em;
    }

    .header .logo {
        display: inline;
    }

    h2 {
        font-size: 1.6em;
    }

    .menu {
        position: absolute;
        background: rgba(0, 0, 0, 0.70);
        color: #fff;
        height: 100%;
        text-transform: uppercase;
        width: 250px;
        left: -250px;
        transition: all 300ms;
        z-index: 1;
    }

    .menu.open {
        left: 0;
        padding-top: 1em;
    }

    .menu img {
        display: none;
    }

    .menu ul {
        list-style: none;
        margin-left: -10px;
    }

    .menu li {
        font-size: 1.3em;
        margin: 1.3em 0 0 0;
        letter-spacing: 1px;
        display: inline;
    }

    .menu li a {
        cursor: pointer;
        color: #fff;
        display: block;
    }

    .menu li a:hover {
        color: #D1EEFC;
        text-decoration: none;
    }

    .menu .profile {
        float: none;
        width: 90%;
    }

    .menu li+li {
        border-left: none;
        padding-left: 0;
    }

    .top-container {
        padding: 3em 2em 2.5em 2em;
    }

    .top-container.centered .inner img {
        width: 85px;
    }

    .top-container.centered .inner h1 {
        font-size: 3em;
    }

    .top-container .inner h1 {
        font-size: 2.2em;
    }

    .instructors h2 {
        /* font-size: 1.6em; */
    }

    .header .logo img {
        margin-left: 1.6em;
    }

    .course-top-container {
        padding: 3em 2em 3em 2em;
    }

    .course-top-container .inner h1 {
        font-size: 3em;
    }

    .outline .h1-container {
        padding: 0 2em 0 2em;
        max-width: 650px;
        margin: 0 auto;
        margin-bottom: 1.5em;
    }

    .section {
    }

    .content {
        margin: 2em;
    }

    .outline {
        /*padding: 0 2em 2.5em 2em;*/
    }

    .outline .inner {
        padding-left: 2em;
        padding-right: 2em;
    }
}
